body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  background: #101011;
  color: #eee;
}
.step-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.step {
  padding: 20px;
  color: #7f7f78;
}

.step__label {
  border-radius: 50%;
  background: #7f7f78;
  color: #101011;
  width: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.red > .step__label {
  background: #b844b8;
}

.blue > .step__label {
  background: #3077aa;
}

.stepA__grid {
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  min-width: 70px;
}

.stepA__grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020202;
  color: #7f7f78;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

.stepB,
.stepC,
.stepE,
.stepF,
.stepG {
  text-align: right;
  position: relative;
}

.stepD {
  text-align: center;
}

.zeros {
  color: #020202;
}

.red {
  color: #b844b8;
}

.blue {
  color: #3077aa;
}

.gray::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #b844b8;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
}

.border-blue {
  border: 1px solid blue;
  padding: 0.25em;
}

.border-yellow {
  border: 1px solid yellow;
  padding: 0.25em;
}

.border-purple {
  border: 1px solid purple;
  padding: 0.25em;
}

.border-green {
  border: 1px solid green;
  padding: 0.25em;
}
