body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  background: #101011;
  color: #eee;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps > *:not(:first-child) {
  border-left: 3px solid #b844b888;
  border-right: 3px solid #b844b888;
  border-top: 6px solid #b844b888;
  border-bottom: 0;
  border-radius: 40px;
  box-shadow: 0 -5px 15px 0 #0019;
  background: #8891;
}

.steps__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
}

.step {
  margin: 10px;
  color: #7f7f78;
  padding: 10px;
  transition: 500ms;
}

.step.active {
  color: #fffc;
}

.step:not(:first-child) {
  border-left: 1px solid #987f9888;
  text-shadow: 0 0 2px #001;
}

.step__label {
  border-radius: 50%;
  background: #7f7f78;
  color: #101011;
  width: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: none;
  transition: 500ms;
}

.active .step__label {
  background: #fffd;
}

.red > .step__label {
  background: #b844b8;
}

.blue > .step__label {
  background: #3077aa;
}

.stepA__grid {
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  min-width: 70px;
}

.stepA__grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020202;
  color: #7f7f78;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

.stepB,
.stepC,
.stepE,
.stepF,
.stepG {
  text-align: right;
  position: relative;
}

.stepD {
  text-align: center;
}

.zeros {
  color: #7f7f78;
}

.red {
  color: #b844b8;
}

.blue {
  color: #3077aa;
}

.step__button {
  position: absolute;
  border-radius: 50%;
  border: 0;
  background: #b844b8;
  bottom: 25px;
  transition: 1s;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 4px;
  font-weight: bold;
  font-size: 1rem;
}

.step__button.active {
  background: #6d2e6e;
  color: #6d2e6e;
  bottom: -10px;
  transition: 500ms;
  border-radius: 50% 50% 0% 0%;
  cursor: auto;
  box-shadow: 0 -2px 2px 0 #001;
}

.border-blue {
  border: 1px solid blue;
  padding: 0.25em;
}

.border-yellow {
  border: 1px solid yellow;
  padding: 0.25em;
}

.border-purple {
  border: 1px solid purple;
  padding: 0.25em;
}

.border-green {
  border: 1px solid green;
  padding: 0.25em;
}
